<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wyy.dao.StudentMapper">
	<resultMap id="BaseResultMap" type="wyy.model.Student">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="sex" property="sex" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, name, sex
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from student
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from student
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="wyy.model.Student">
		insert into student (id, name,
		sex
		)
		values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
		#{sex,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="wyy.model.Student">
		insert into student
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="sex != null">
				sex,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="sex != null">
				#{sex,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="wyy.model.Student">
		update student
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="sex != null">
				sex = #{sex,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="wyy.model.Student">
		update student
		set name = #{name,jdbcType=VARCHAR},
		sex =
		#{sex,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
	
	
		<select id="selectStudentTeacher"
		parameterType="java.lang.Integer" resultType="wyy.model.StudentTeacher">
		SELECT
		student_teacher.ID,
		student_teacher.TEACHER_ID,
		student_teacher.STUDENT_ID
		FROM  
		student_teacher where student_teacher.STUDENT_ID=#{id,jdbcType=INTEGER}
	</select>
	
<resultMap type="wyy.model.Student" id="studentResultMap"
		extends="BaseResultMap">
		<collection property="studentTeachers" column="id"
			javaType="list" select="selectStudentTeacher"></collection>
	</resultMap>
	<select id="getAll" resultMap="studentResultMap">
		select id, name, sex from student

	</select>
	
	
	
<resultMap type="wyy.model.Student" id="studentResultMap2"
		extends="BaseResultMap">
		<collection property="studentTeachers" javaType="list"
			ofType="wyy.model.StudentTeacher">
			<id property="id" column="studentteacher_id" />
			<result property="teacherId" column="teacher_id " />
			<result property="studentId" column="student_id " />
			</collection>
	</resultMap>
<select id="getAll2" resultMap="studentResultMap2">
		SELECT
		student.id,
		student_teacher.STUDENT_ID student_id,
		student.`name`,
		student.sex,
		student_teacher.TEACHER_ID teacher_id,
		student_teacher.ID studentteacher_id
		FROM
		student
	    JOIN student_teacher ON student.id = student_teacher.STUDENT_ID

	</select>
	
	
	
	
	
<resultMap type="wyy.model.Student" id="studentResultMap3"
	extends="BaseResultMap">
	<collection property="studentTeachers" javaType="list"
		ofType="wyy.model.StudentTeacher">
		<id property="id" column="studentteacher_id" />
		<result property="teacher_id" column="teacher_id" />
		<result property="studentId" column="student_id" />
		<association property="teacher" javaType="wyy.model.Teacher">
			
		<id property="id" column="teacher_id" />
			<result property="name" column="teacher_name" />
		</association>
	</collection>
</resultMap>
	<select id="getAll3" resultMap="studentResultMap3">
		SELECT 
		student.ID,
		student_teacher.STUDENT_ID student_id,
		student.`name`,
		student.sex,
		student_teacher.TEACHER_ID teacher_id,
		student_teacher.ID studentteacher_id,
		teacher.id teacher_id,
		teacher.`name` teacher_name
		FROM
		student
		 INNER JOIN student_teacher ON student.id = student_teacher.STUDENT_ID
		 INNER JOIN teacher ON student_teacher.TEACHER_ID = teacher.id

	</select>
	
	
	<resultMap type="wyy.model.Student" id="studentResultMap4"
		extends="BaseResultMap">
		<collection property="teachers" javaType="list"
			ofType="wyy.model.Teacher">
					<id property="id" column="teacher_id"/>
		    <result property="name" column="teacher_name"/>
		</collection>
	</resultMap>
	<select id="getAll4" resultMap="studentResultMap4">
	SELECT 
		student.ID,
		student_teacher.STUDENT_ID ,
		student.`name`, 
		student.sex,
		student_teacher.TEACHER_ID teacher_id,
		student_teacher.ID  ,
		teacher.id teacher_id,
		teacher.`name` teacher_name
		FROM
		student
		 INNER JOIN student_teacher ON student.id = student_teacher.STUDENT_ID
		 INNER JOIN teacher ON student_teacher.TEACHER_ID = teacher.id
	
	</select>
</mapper>